{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content_cols %}
    <div class="login-container">
        <h1 class="login-header">Login</h1>
        <form method="post">
            {% csrf_token %}
            <div class="login-form">
                {{ form|crispy }}
            </div>
            <input class="btn btn-outline-success btn-lg" style="margin-bottom: 10px" type="submit" value="Log In"><br>
            <div class="btn-group login-buttons" role="group" style="width: 40%">
                <button class="btn btn-outline-warning" style="width: 50%" onclick="document.location=`{% url 'signup' %}`">
                    Sign up
                </button>
                <button class="btn btn-outline-warning" style="width: 50%" onclick="document.location=`{% url 'password_reset' %}`">
                    Reset password
                </button>
            </div>
        </form>
    </div>
{% endblock content_cols %}