{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content_cols %}
    <div class="center">
        <div class="container">
            <h1 class="login-header">Password reset</h1>
            <form method="post">
                {% csrf_token %}
                <div class="login-form">
                    {{ form|crispy }}
                </div>
                <input class="btn btn-outline-danger btn-lg" style="margin-bottom: 10px" type="submit" value="Send request"><br>
                <div class="btn-group login-buttons" role="group" style="width: 40%">
                    <button class="btn btn-outline-warning" style="width: 50%" onclick="document.location=`{% url 'signup' %}`">
                        Sign up
                    </button>
                    <button class="btn btn-outline-warning" style="width: 50%" onclick="document.location=`{% url 'login' %}`">
                        Log in
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock content_cols %}