{% extends 'base_logged.html' %}
{% block content %}
    <div class="account-details">
        <h1>{{ account.username }}</h1>
        <h3>@{{ account.display_name }}</h3>
    </div>
    {% for tweet in account.tweets.all %}
        <div class="tweet-wrapper">
            <div class="card text-white bg-dark" style="width: 30rem; text-align: center">
                <div class="card-header">
                    <a style="color: gold">
                        <span style="float:left">{{ tweet.author }}</span>
                    </a>
                </div>
                <div class="card-body tweet-body" data-redirect-url="{% url 'tweet_detail' tweet.id %}">
                    <div class="card-text">
                        {{ tweet.content }}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock content %}
{% block scripts %}
    <script>
        $('.tweet-body').click(function (e){
                const url = $(this).data('redirect-url')
                window.location.href = url
        })
    </script>
{% endblock scripts %}