{% extends 'base_logged.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container container-fix">
        <h1 class="login-header">Edit account</h1>
        <form method="post">
            {% csrf_token %}
            <div class="login-form">
                {{ form|crispy }}
            </div>
            <input class="btn btn-outline-success btn-lg" style="margin-bottom: 10px" type="submit" value="Edit account"><br>
        </form>
        <div class="btn-group login-buttons" role="group" style="width: 40%">
            <button class="btn btn-outline-danger" onclick="document.location=`{% url 'account_delete' %}`">
                Delete my account
            </button>
        </div>
    </div>
{% endblock content %}