{% extends 'base_logged.html' %}
{% load static %}
{% block content %}
    <div class="tweet-feed">
        {% if bookmarks|length > 0 %}
            <div class="tweet-wrapper tweet-card text-center" style="width: 500px">
                <h2>&nbsp;Your Bookmarks</h2>
            </div>
            {% for bookmark in bookmarks %}
                <div class="tweet-wrapper">
                    <div class="card text-white bg-dark tweet-card">
                        <div class="card-header">
                            <a href="{% url 'account_detail' bookmark.tweet.author.id %}" style="color: gold">
                                <span style="float:left">{{ bookmark.tweet.author }}</span>
                            </a>
                            <div class="btn-group" style="float: right">
                              <button class="tweet-edit-dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-three-dots"></i>
                              </button>
                              <ul class="dropdown-menu dropdown-menu-lg-end">
                                  <form action="{% url 'tweet_bookmark' bookmark.tweet.id %}" method="post" class="bookmark-form" id="tweet-bookmark-{{bookmark.tweet.id}}">
                                      {% csrf_token %}
                                      <li><a class="dropdown-item" id="tweet-bookmark-submit-{{bookmark.tweet.id}}" href="javascript:$('#tweet-bookmark-{{bookmark.tweet.id}}').submit()">
                                          Unsave
                                      </a></li>
                                  </form>
                                  {% if bookmark.tweet.author == user %}
                                  <li><hr class="dropdown-divider"></li>
                                  <li><a class="dropdown-item" href="{% url 'tweet_edit' bookmark.tweet.id %}">Edit</a></li>
                                  <li><a class="dropdown-item" href="{% url 'tweet_delete' bookmark.tweet.id %}">Delete</a></li>
                                  {% endif %}
                              </ul>
                            </div>
                        </div>
                        <div class="card-body tweet-body">
                            <div class="card-text">
                                {{ bookmark.tweet.content }}
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="{% url 'tweet_detail' bookmark.tweet.id %}">
                                Go to Tweet
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h1>No Bookmarks currently</h1>
        {% endif %}
    </div>
{% endblock content %}
{% block scripts %}
    <script src="{% static 'js/bookmark.js' %}"></script>
{% endblock scripts %}